<h2>Installation and set-up</h2>

<p class="text">1. Install ngx-zero-dialog</p>
<app-code-snippet [code]="installCode" language="javascript"></app-code-snippet>

<p class="text">
  2. Provide configuration in <code>app.config.ts</code> (or in your module's
  <code>providers</code> array)
</p>
<app-code-snippet
  [code]="providerCode"
  language="typescript"
></app-code-snippet>

<p class="text">
  3. Add a dialog container element in your root component template
</p>
<app-code-snippet
  [code]="containerCode"
  language="html"
></app-code-snippet>

<p class="text">
  4. Import the library styles in your global <code>styles.scss</code>.
  Includes pre-built enter/leave animations and utility styles.
</p>
<app-code-snippet
  [code]="importStylesCode"
  language="css"
></app-code-snippet>
