:host {
  display: block;
}

.greetings {
  font-size: 18px;
  text-align: center;
  padding: 8px 0 16px;
  color: rgba(0, 0, 0, 0.7);
}

.form {
  display: flex;
  gap: 12px;
  flex-direction: column;

  button,
  input {
    width: 100%;
  }
}
